<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <targets async="true">
        <target xsi:type="File" name="logFileTrace" fileName="${basedir}/logs/trace/logfile.txt"
                layout="${longdate}|${aspnet-request-ip}|${level}|${aspnet-request-url:IncludePort=true:IncludeQueryString=true}${event-properties:item=body}|${message}"
                maxArchiveFiles="10" archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd"
                archiveFileName="${basedir}/logs/trace/log.{#}.txt"/>
    </targets>
    <rules>
        <!--logger name="*" level="Trace" writeTo="logFileTrace" />-->
        <logger name="*" levels="Trace,Error" writeTo="logFileTrace" />
    </rules>
</nlog>
